<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <span class="navbar-brand" id=time></span>
        <span class="navbar-brand" style="color:#F30A03FF;">Error</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/setup">Setup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/heatlogic">HeatLogic Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/swagger-ui" target="_blank">Services</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
    function setDate(){
        // get a new date (locale machine date time)
        document.getElementById('time').innerHTML = new Date().toLocaleString("de-DE");
    }
    setDate();
    setInterval(function () {setDate()}, 1000) ;
</script>