<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Heat Pump status</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, charset=UTF-8" >
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.6.2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/6.4.0/css/all.css} "/>
    <link rel="icon" type="image/ico" th:href="@{favicon.ico}">
    <style>

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }


    </style>
</head>
<body>
<div th:replace="header"></div>

<div class="container bg-light">
    <div class="row">
        <div class="col">
            <div class="mt-2 bg-info">
                <label>&nbsp;Indoor Temp&nbsp;</label><span class="font-weight-bold" th:text="${heatingLogic.getIndoorTemp()}"></span><label>&nbsp;℃</label>
            </div>
            <div class="bg-info">
                <label>&nbsp;Outdoor Temp&nbsp;</label><span class="font-weight-bold" th:text="${heatingLogic.getOutdoorTemp()}"></span><label>&nbsp;℃</label>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script>

    setTimeout(function(){
        window.location.reload();
    }, 60000);
</script>

</body>
</html>
